/* ===== Header ===== */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #bdbdbc;
  z-index: 100;
  transition: background-color .3s ease-in-out;
}
header.on, 
header:hover {
  background-color: #fff;
  border-bottom-color: #e5e5e5;
}

header .inner {
  justify-content: space-between;
  align-items: center;
  max-width: 1650px;
  height: 100px;
  margin: 0 auto;
  padding: 0 15px;
}

.link-logo {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.btn-menu-wrapper {
  width: 50px;
  height: 50px;
}

.btn-mb-menu {
  width: 100%;
  height: 100%;
}

.btn-mb-menu span,
.btn-mb-menu span::before,
.btn-mb-menu span::after {
  background-color: #222;
  display: block;
  width: 25px;
  height: 3px;
  margin: 0 auto;
}

.btn-mb-menu span::before,
.btn-mb-menu span::after {
  content: "";
  position: absolute;
}

.btn-mb-menu span::before {
  transform: translateY(-10px);
}

.btn-mb-menu span::after {
  transform: translateY(10px);
}

.menu {
  margin-right: -35px;
}

.menu-item {
  position: relative;
}

.menu-link {
  display: block;
  height: 100%;
  padding: 35px;
  font-weight: 600;
}

.sub-menu {
  position: absolute;
  left: 35px;
  width: 100%;
  height: 225px;
  padding: 20px 0;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: .3s ease-in-out;
  transition-property: opacity , visibility;
}

nav:hover .sub-menu {
  visibility: visible;
  opacity: 1;
}

.sub-menu-link {
  display: block;
  padding: 9px 0;
  color: #999;
}

.sub-menu-link:hover {
  color: #222;
}

.menu-bg {
  background-color: #fff;
  position: absolute;
  top: 101%;
  left: 0;
  width: 100%;
  height: 225px;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-in-out;
  transition-property: opacity, visibility;
}

nav:hover + .menu-bg {
  visibility: visible;
  opacity: 1;
}

/* ===== Main ===== */
.main-sec {
  padding: 140px 0;
}

/* Visual Section */
.main-visual {
  width: 100%;
}

.visual {
  position: relative;
  width: 100%;
  margin-bottom: 0 !important;
}

.visual-cont {
  background: url(../assets/banner/v2.png) no-repeat center / cover;
  width: 100%;
  height: 980px;
}

.visual-cont:nth-child(2) {
  background-image: url(../assets/banner/v1.png);
}

.visual-cont:nth-child(3) {
  background-image: url(../assets/banner/v3.png);
}

.visual-cont:nth-child(4) {
  background-image: url(../assets/banner/v4.png);
}

.visual-cont:nth-child(5) {
  background-image: url(../assets/banner/v5.png);
}

.visual-cont:nth-child(6) {
  background-image: url(../assets/banner/v6.png);
}

.visual-inner {
  justify-content: center;
  max-width: 1650px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.visual-tit {
  margin-bottom: 5px;
  font-size: 100px;
  font-weight: 600;
  line-height: 1.2;
}

.visual-desc {
  font-size: 26px;
  font-weight: 300;
  line-height: 1.6;
}

.visual-btn {
  margin-top: 70px;
}

.visual-btn .btn {
  min-width: 240px;
  justify-content: space-between;
  transition: background-color .3s;
}

.visual-btn .btn:hover {
  background-color: #444;
}

.visual-btn .btn span {
  transform: translateY(2px);
}

.visual-btn .btn::after {
  content: "";
  width: 28px;
  height: 12px;
  background: url(../assets/icon/icon-arrow-white.png) no-repeat center / contain;
  transition: transform .3s;
}

.visual-btn .btn:hover::after {
  transform: translateX(10px);
}

/* Slick Dots Custom */
.banner-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
  max-width: 1650px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.banner-dots li {
  margin: 0 10px;
}

.banner-dot {
  align-items: center;
  color: #aaa;
  font-weight: 600;
}

.slick-active .banner-dot {
  color: #222;
}

.banner-dot::before {
  content: "0";
}

.banner-dot::after {
  content: "";
  display: none;
  width: 50px;
  height: 1px;
  margin-left: 10px;
  background-color: #222;
}

.slick-active .banner-dot::after {
  display: block;
}

/* Main Menu */
.main-link-list {
  flex-wrap: wrap;
}

.main-link-item {
  position: relative;
  width: 33.3333%;
  min-height: 45px;
  border-bottom: 1px solid #ddd;
}

.main-link-item:not(:nth-of-type(3n)):after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 15px;
  background-color: #ddd;
  transform: translateY(-50%);
}

.main-link-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 700;
}

/* Story Section */
.story-sec {
overflow: hidden;
margin-top: 140px;
}

.story-sec .sec-header {
  margin-bottom: 50px;
  text-align: left;
}

.story-sec .sec-cont {
  position: relative;
}

.story-sec .sec-cont::before {
  content: "";
  position: absolute;
  top: -50%;
  left: calc(50% - 80px);
  width: 1180px;
  height: 570px;
  background-color: #f5f5f5;
  border-radius: 100px;
}

.video-tab {
  /* justify-content: center; */
}

.video-item {
  width: 400px;
  padding-right: 35px;
}

.video-tab .tab {
  align-items: center;
  position: relative;
  width: 100%;
  padding: 22px 45px 22px 20px;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid #e6e6e6;
}

.video-item:first-child .tab {
  border-top: 1px solid #e6e6e6;
}

.video-tab .tab::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 480px;
  height: 2px;
  transform: translateY(-50%);
  background: linear-gradient(to right, #222 83.5%, #fff 83.5%);
  visibility: hidden;
  z-index: 1;
}

.video-tab input[type="radio"]:checked ~ .tab::before {
  visibility: visible;
}

.video-tab .tab::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1%;
  width: 28px;
  height: 12px;
  transform: translateY(-50%);
  background: url(../assets/icon/icon-arrow.png) no-repeat center;
  opacity: 0;
}

.video-tab input[type="radio"]:checked ~ .tab::after {
  opacity: 1;
}

.video-num {
  margin-right: 15px;
  color: #999;
}

.video-tab .tab-cont {
  top: 0;
  /* top: 50%; */
  right: 0;
  max-width: calc(100% - 400px);
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
  /* transform: translateY(-50%); */
}

.video-tab .tab-cont::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 56.25%;
}

.video-tab .tab-cont iframe {
  position: absolute;
  top: 0;
}

/* Notice Section */
.board-wrap {
  width: 100%;
}

.board-sec {
  position: relative;
  width: 50%;
  padding-right: 30px;
}

.partner-sec {
  padding-right: 0;
  padding-left: 30px;
}

.board-sec .sec-header {
  margin-bottom: 20px;
  text-align: left;
}

.board-sec .sec-tit {
  font-size: 30px;
}

.board-wrap .sec-cont {
  padding: 25px 0;
  border-top: 2px solid #222;
  border-bottom: 1px solid #e6e6e6;
}

.partner-sec .sec-cont {
  height: 100%;
  align-items: center;
}

.board-link {
  justify-content: space-between;
  padding: 6px 0;
  color: #7e7e7e;
}

.post-tit {
  flex: 1;
  margin-right: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.board-btn {
  position: absolute;
  top: 0;
  right: 40px;
  transform: translateY(40%);
}

.board-btn .link-more {
  display: block;
  width: 20px;
  height: 20px;
}

.board-btn .link-more::before, 
.board-btn .link-more::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222;
}

.board-btn .link-more::before {
  width: 20px;
  height: 1px;
}

.board-btn .link-more::after {
  width: 1px;
  height: 20px;
}

.partner {
  width: 50%;
  padding: 0 5px;
}

.partner .img-box {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 82px;
  padding: 5px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
}

/* Team Section */
.team-sec .sec-header {
  margin-bottom: 50px;
}

.team-list {
  flex-wrap: wrap;
  margin: -12px;
}

.team {
  width: 33.3333%;
  padding: 12px;
}

.team-link {
  position: relative;
  display: block;
  padding-bottom: 100%;
  background: url(../assets/team/what-bg.png) no-repeat center / contain;
}

.team:nth-of-type(2) .team-link {
  background-image: url(../assets/team/what-bg2.png);
}

.team:nth-of-type(3) .team-link {
  background-image: url(../assets/team/what-bg3.png);
}

.team:nth-of-type(4) .team-link {
  background-image: url(../assets/team/what-bg4.png);
}

.team:nth-of-type(5) .team-link {
  background-image: url(../assets/team/what-bg5.png);
}

.team:nth-of-type(6) .team-link {
  background-image: url(../assets/team/what-bg6.png);
}

.team-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 35px 30px;
  transition: .3s ease-in-out;
  transition-property: background-color, color;
}

.team-link:hover .team-info {
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
}

.team-name {
  display: block;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
  word-break: keep-all;
}

.team-desc {
  margin-bottom: 30px;
  color: #7e7e7e;
  line-height: 1.5;
  transition: color .3s ease-in-out;
}

.team-link:hover .team-desc {
  color: #fff;
}

.team-more {
  display: inline-block;
  line-height: 1.2;
  border-bottom: 1px solid #999;
  transition: border-color .3s ease-in-out;
}

.team-link:hover .team-more {
  border-color: #fff;
}

/* Trend Section */
.trend-sec {
  background-color: #222;
}

.trend-sec .sec-header {
  margin-bottom: 50px;
  color: #fff;
}

.trend-sec .sec-tit {
  margin-bottom: 15px;
}

.trend-sec .sec-cont {
  position: relative;
  width: 100%;
  padding-bottom: 98%;
}

.trend-list {
  position: absolute;
  left: 0;
  top: 0;
  margin: -12px;
  max-width: calc(100% + 12px * 2);
  max-height: 100%;
  min-height: -webkit-fill-available;
  display: flex;
  flex-flow: column wrap;
}

.trend {
  width: 33.3333%;
  padding: 12px;
}

.trend-link {
  position: relative;
  display: block;
  color: #fff;
}

.trend-img img {
  width: 100%;
  height: auto;
}

.trend-text {
  align-items: flex-end;
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0;
  bottom: -100px;
  padding: 0 25px 25px;
  font-size: 18px;
  background: linear-gradient(to top, rgba(0, 0, 0, .8), transparent);
  opacity: 0;
  transition: .5s ease-in-out;
  transition-property: bottom, opacity;
}

.trend-link:hover .trend-text {
  bottom: 0;
  opacity: 1;
}

.trend-text p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Product Section */
.product-sec .sec-header {
  margin-bottom: 50px;
}

.product-tab {
  justify-content: center;
  padding-bottom: 50.7356%;
}

.product-tab .tab {
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 15px 30px;
  color: #999;
  font-weight: 300;
}

.product-tab .tab-text {
  position: relative;
  display: block;
  height: 100%;
}

.product-tab input[type="radio"]:checked + .tab {
  color: #222;
  font-weight: 700;
}

.product-tab .tab-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #222;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.product-tab input[type="radio"]:checked + .tab .tab-text::after {
  transform: scaleX(1);
}

.product-tab .tab-cont {
  left: 0;
  width: 100%;
  margin-top: 50px;
}

.product-list {
  flex-wrap: wrap;
  padding: 0 12px;
  margin: -12px 0;
}

.product {
  width: 25%;
  padding: 12px;
}

.product-link {
  position: relative;
  display: block;
  padding-top: 100%;
  background: no-repeat 0 0 / 100% auto;
}

/* product-all */
.product-all:nth-of-type(1) .product-link {
  background-image: url(../assets/product/all/product_all_01.jpg);
}

.product-all:nth-of-type(2) .product-link {
  background-image: url(../assets/product/all/product_all_02.jpg);
}

.product-all:nth-of-type(3) .product-link {
  background-image: url(../assets/product/all/product_all_03.jpg);
}

.product-all:nth-of-type(4) .product-link {
  background-image: url(../assets/product/all/product_all_04.jpg);
}

.product-all:nth-of-type(5) .product-link {
  background-image: url(../assets/product/all/product_all_05.jpg);
}

.product-all:nth-of-type(6) .product-link {
  background-image: url(../assets/product/all/product_all_06.jpg);
}

.product-all:nth-of-type(7) .product-link {
  background-image: url(../assets/product/all/product_all_07.jpg);
}

.product-all:nth-of-type(8) .product-link {
  background-image: url(../assets/product/all/product_all_08.jpg);
}

/* product-kanuda */
.product-kanuda:nth-of-type(1) .product-link {
  background-image: url(../assets/product/kanuda/product_kanuda_01.jpg);
}

.product-kanuda:nth-of-type(2) .product-link {
  background-image: url(../assets/product/kanuda/product_kanuda_02.jpg);
}

.product-kanuda:nth-of-type(3) .product-link {
  background-image: url(../assets/product/kanuda/product_kanuda_03.jpg);
}

.product-kanuda:nth-of-type(4) .product-link {
  background-image: url(../assets/product/kanuda/product_kanuda_04.jpg);
}

.product-kanuda:nth-of-type(5) .product-link {
  background-image: url(../assets/product/kanuda/product_kanuda_05.jpg);
}

.product-kanuda:nth-of-type(6) .product-link {
  background-image: url(../assets/product/kanuda/product_kanuda_06.jpg);
}

.product-kanuda:nth-of-type(7) .product-link {
  background-image: url(../assets/product/kanuda/product_kanuda_07.png);
}

.product-kanuda:nth-of-type(8) .product-link {
  background-image: url(../assets/product/kanuda/product_kanuda_08.png);
}

.product-info {
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  padding: 20px;
  text-align: center;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity .3s ease-in-out;
  background-color: rgba(255,255,255,.8);
}

.product-link:hover .product-info {
  opacity: 1;
}

.product-desc {
  margin-bottom: 5px;
  color: #7e7e7e;
  line-height: 31px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.product-name {
  display: -webkit-box;
  margin-bottom: 30px;
  font-weight: 600;
  overflow: hidden;
  word-break: keep-all;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* Brand Section */
.brand-sec {
  border-top: 1px solid #e6e6e6;
}

.brand-nav {
  padding: 40px 35px;
}

.our-brand-nav {
  flex: 0 0 33.3333%;
  padding-left: 0;
}

.domestic-brand-nav {
  flex: 0 0 25%;
  padding-right: 0;
}

.brand-nav ~ .brand-nav {
  border-left: 1px solid #e6e6e6;
}

.brand-nav-tit {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
}

.brand-list {
  flex-wrap: wrap;
}

.our-brand-nav .brand-list {
  gap: 14px;
}

.imported-brand-nav .brand-list {
  flex-wrap: wrap;
}

.brand-logo {
  width: calc(50% - 7px);
}

.brand-logo-link {
  background: url(../assets/brand/parner-logo.png) no-repeat center / contain;
  display: block;
  padding-top: 34.1176%;
  border: 1px solid #e6e6e6;
}

.brand-logo:nth-of-type(2) .brand-logo-link {
  background-image: url(../assets/brand/parner-logo2.png);
}

.brand-logo:nth-of-type(3) .brand-logo-link {
  background-image: url(../assets/brand/parner-logo3.png);
}

.brand-logo:nth-of-type(4) .brand-logo-link {
  background-image: url(../assets/brand/parner-logo4.png);
}

.brand-logo:nth-of-type(5) .brand-logo-link {
  background-image: url(../assets/brand/parner-logo5.png);
}

.brand-logo:nth-of-type(6) .brand-logo-link {
  background-image: url(../assets/brand/parner-logo6.png);
}

.brand-logo:nth-of-type(7) .brand-logo-link {
  background-image: url(../assets/brand/parner-logo7.png);
}

.brand-logo:nth-of-type(8) .brand-logo-link {
  background-image: url(../assets/brand/parner-logo8.png);
}

.brand-logo:nth-of-type(9) .brand-logo-link {
  background-image: url(../assets/brand/parner-logo9.png);
}

.brand {
  color: #999;
  padding: 4px 0;
}

.imported-brand-nav .brand {
  width: 33.3333%;
}

.brand-link {
  display: block;
  padding: 4px 0;
}

/* Footer */
footer {
  background-color: #222;
  padding: 45px 0;
}

.footer-nav {
  margin-left: -15px;
  margin-bottom: 20px;
}

.footer-nav-item {
  position: relative;
  padding: 0 15px;
  word-break: keep-all;
}

.footer-nav-item ~ .footer-nav-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 16px;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.2);
}

.footer-nav-link {
  color: #ccc;
  font-weight: 600;
  line-height: 1.2;
}

address {
  margin-left: -6px;
  color: #999;
  font-size: 14px;
  word-break: keep-all;
}

address p,
.company-info .text-wrap {
  padding: 6px;
}

.company-info {
  flex-wrap: wrap;
}

.company-info-tit {
  color: #ccc;
  padding-right: 5px;
}