* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, textarea, button, label {
  font-family: "Pretendard Variable", "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #222;
  font-size: 16px;
  letter-spacing: -.04em;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6,
address, small, em, strong  {
  font-size: inherit;
  font-weight: inherit;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
  /* font-size: inherit; */
}

button {
  color: inherit;
  background: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  border: none;
  cursor: pointer;
}

input {
  display: block;
  background: none;
  border: none;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  /* width: 100%; */
}

dt, dd {
  display: inline-block;
}