@media screen and (max-width: 1200px) {
  /* ===== Header ===== */
  header .inner {
    background-color: #fff;
    height: 50px;
    padding: 0;
  }

  header .pc {
    display: none;
  }

  header .mb {
    display: block;
  }

  .logo {
    order: 1;
    width: 80px;
    height: 50px;
  }

  .menu {
    /* 임시 */
    display: none;
  }

  /* ===== Main ===== */
  /* story section */
  .story-sec .sec-cont::before {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  /* ===== Common ===== */
  .btn {
    padding: 10px 12px;
  }

  .btn-round {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* ===== Main ===== */
  main {
    padding-top: 50px;
  }

  .main-sec {
    padding: 100px 0;
  }

  /* visual section */
  .visual-cont {
    height: 460px;
  }

  .visual-tit {
    font-size: 50px;
  }

  .visual-desc {
    font-size: 18px;
  }

  /* Slick Dots Custom */
  .banner-dots {
    bottom: 30px;
  }

  /* team section */
  .team-list {
    margin: -8px;
  }

  .team {
    padding: 8px;
  }

  .team-info {
    padding: 25px;
  }
}

@media screen and (max-width: 768px) {
  .main-sec {
    padding: 60px 0;
  }

  .sec-tit {
    font-size: 32px;
  }

  /* ===== Main ===== */
  /* visual section */
  .visual-cont {
    height: calc(100vh - 50px - 90px);
  }

  .visual-cont:nth-child(1) {
    background-image: url(../assets/banner/v2-sm.png);
  }

  .visual-cont:nth-child(2) {
    background-image: url(../assets/banner/v1-sm.png);
  }
  
  .visual-cont:nth-child(3) {
    background-image: url(../assets/banner/v3-sm.png);
  }
  
  .visual-cont:nth-child(4) {
    background-image: url(../assets/banner/v4-sm.png);
  }
  
  .visual-cont:nth-child(5) {
    background-image: url(../assets/banner/v5-sm.png);
  }
  
  .visual-cont:nth-child(6) {
    background-image: url(../assets/banner/v6-sm.png);
  }

  .visual-inner {
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-top: 20%;
  }
  
  .visual-tit {
    font-size: 38px;
  }

  .visual-desc {
    font-size: 16px;
  }

  .visual-btn {
    margin-top: 20px;
  }

  .visual-btn .btn {
    font-size: 14px;
  }

  .visual-btn .btn::after {
    width: 14px;
    height: 6px;
  }

  .main-menu.mb {
    display: block;
  }

  /* notice section */
  .board-wrap {
    flex-direction: column;
  }

  .board-sec {
    width: 100%;
    padding: 15px 0;
  }

  .board-sec .sec-header {
    margin-bottom: 10px;
  }

  .board-sec .sec-tit {
    font-size: 24px;
  }

  .board-link {
    font-size: 14px;
  }

  .board-btn {
    right: 0;
    transform: translateY(80%);
  }

  /* team section */
  .team-sec .sec-header {
    margin-bottom: 20px;
  }

  .team-list {
    margin: -5px;
  }

  .team {
    width: 50%;
    padding: 5px;
  }

  .team-name {
    margin-bottom: 5px;
    font-size: 18px;
  }

  .team-desc {
    margin-bottom: 15px;
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .round-box {
    border-radius: 20px;
  }

  /* ===== Main ===== */
  /* visual section */
  .visual-btn .btn {
    min-width: 165px;
  }

  /* team section */
  .team {
    width: 100%;
    padding: 5px;
  }

  .team-link {
    padding-bottom: 55.1724%;
  }

  .team:nth-of-type(1) .team-link {
    background-image: url(../assets/team/what-bg-sm.png);
  }

  .team:nth-of-type(2) .team-link {
    background-image: url(../assets/team/what-bg2-sm.png);
  }

  .team:nth-of-type(3) .team-link {
    background-image: url(../assets/team/what-bg3-sm.png);
  }

  .team:nth-of-type(4) .team-link {
    background-image: url(../assets/team/what-bg4-sm.png);
  }

  .team:nth-of-type(5) .team-link {
    background-image: url(../assets/team/what-bg5-sm.png);
  }

  .team:nth-of-type(6) .team-link {
    background-image: url(../assets/team/what-bg6-sm.png);
  }
}